header {
	 
    font-weight: bolder;
    font-size: 88px;
    text-align: center;
    color: yellow;

}


.bgimage{
    background-image: url(../images/bg.jpg);
    height: 600px;
    width: 500px;
    background-repeat: no-repeat;

}

